body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
  }

.spinner {
    border: 8px solid #f3f3f3;      /* Light grey background */
    border-top: 8px solid #007BFF;  /* Blue foreground */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 20px auto;              /* Center the spinner horizontally */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}